body {
    background-color: #c8e5b0fa;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    margin: 50px;
}
h1 {
    color: #ff5733;
    text-align: center;
}
h2 {
    color: #c70039;
    text-align: center;
    font-size: 60px;
}
h8 {
    color: #e25bd9;
    text-align: center;
    background-color: aquamarine;
}
p {
    font-size: 50px;
    line-height: 1.5;
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    text-align: center;
}
li {
    font-size: 16px;
    line-height: 1.5;
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
    text-align: center;
}
.highlight {
    background-color: #ffeb3b;
    padding: 5px;
    border-radius: 3px;
}
header {
    background-color: #bcde57;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 50px;
}
.highlight {
    background-color: #ffeb3b;
    padding: 5px;
}
